<h3>Register new users</h3>


<div class="row">
   
    <div class="form col col-6 offset-3">
        <div class="form-group row">
            <label for="text" class="col-4 col-form-label">Username</label> 
            <div class="col-8">
                <input type="text" [(ngModel)]="model.userName" name="userName" class="form-control">
         </div>
        </div>

        <div class="form-group row">
            <label for="text1" class="col-4 col-form-label">Password</label> 
            <div class="col-8">
             <input type="password" [(ngModel)]="model.password" name="password"  class="form-control">
         </div>
        </div>

        <div class="form-group row">
        <label for="text2" class="col-4 col-form-label">Retype Password</label> 
        <div class="col-8">
            <input type="password" [(ngModel)]="retypePassword" name="passwordAgain" class="form-control">
        </div>
        </div>


        <div class="form-group row">
            <label for="text3" class="col-4 col-form-label">First Name</label> 
            <div class="col-8">
             <input type="text" [(ngModel)]="model.firstName" name="fName" class="form-control">
         </div>
        </div>

        <div class="form-group row">
            <label for="text4" class="col-4 col-form-label">Last Name</label> 
            <div class="col-8">
             <input type="text" [(ngModel)]="model.lastName" name="lName"class="form-control">
         </div>
        </div>

        <div class="form-group row">
            <label for="text5" class="col-4 col-form-label">Email"</label> 
            <div class="col-8">
             <input type="text" [(ngModel)]="model.email" name="mail" class="form-control">
         </div>
        </div>

        <div class="form-group row">
            <label for="text6" class="col-4 col-form-label">Address</label> 
            <div class="col-8">
             <input type="text" [(ngModel)]="model.address" name="addy" class="form-control">
         </div>            
        </div>

        <div class="form-group row">
            <label for="text7" class="col-4 col-form-label">Phone #:</label> 
            <div class="col-8">
             <input type="text" [(ngModel)]="model.phone" name="cell" class="form-control">
         </div>
        </div> 

        <div class="form-group row">
        <div class="offset-4 col-8">
            <button (click)="registerUser()" name="submit" type="button" class="btn btn-primary">Save User</button>
        </div>
        </div>
    </div>
      

</div>




<!-- 
    userName
    password
    retype password
    first name
    last name
    email
    address
    phone
    
-->