<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Awesome System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/converter">Temp Converter <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/user/new"> Register User <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/user/list">User List <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>